In [54]:
import pandas as pd
import numpy as np
import csv
from sklearn.utils import shuffle
from random import choice
from string import ascii_lowercase, digits
from sqlalchemy import create_engine, text as query_text
from sqlalchemy.engine.base import Engine
import glob
from uuid import uuid4

In [24]:
test_dataset_location = './test_dataset'
test_file_list = list(glob.glob('*/*.csv', recursive=True))

In [143]:
uid_master_table_cols = [
    'uid',
    'nid',
    'mid',
    'did',
    'lid'
]

In [28]:
username = input()
passwd = input()
sqlalchemy_dialect = f"""postgresql+psycopg2://{username}:{passwd}@localhost:5432/metrics"""
engine = create_engine(sqlalchemy_dialect)

In [30]:
uid_master_table = 'uid_master'

In [55]:
def gen_new_unique_id():
    return str(uuid4())

In [106]:
def read_existing_data(engine: Engine, table_name=uid_master_table, column_params={}):
    where_clause = ""
    if column_params['nid'] != '':
        where_clause = f""" where "nid" = '{column_params['nid']}' """
    elif column_params['mid'] != '':
        where_clause = f""" where "mid" = '{column_params['mid']}' """
    elif column_params['did'] != '':
        where_clause = f""" where "did" = '{column_params['did']}' """
    elif column_params['lid'] != '':
        where_clause = f""" where "lid" = '{column_params['lid']}' """
    else:
        where_clause = """ where ( "nid" ='lufi62kyrsdg' and "mid"='' and "did" = '' and "lid"='' ) """

    query = f"""SELECT * FROM {table_name} {where_clause} LIMIT 1"""
    # print(query)
    with engine.connect() as conn:
        result = conn.execute(
            query_text(
                query
            )
        )
        result_dict_list = result.mappings().all()
        if len(result_dict_list) == 1:
            return result_dict_list[0]
        else:
            return {}

In [ ]:
def insert_records_columns(engine: Engine,
                           table_name,
                           column_params):
    column_list = list(column_params.keys())
    columns = '" , "' join(column_list)
    if columns:
        columns = f'"{columns}"'
    data_list = list(column_params.values())
    data = "' , '" join(data_list)
    query = f"""INSERT INTO {
        table_name
    } ({
        columns
    }) VALUES ({
        data
    })"""
    with engine.connect() as conn:
        result = conn.execute(
            query_text(
                query
            )
        )

In [ ]:
def update_records_column(engine: Engine,
                          table_name,
                          updatable_value,
                          conditional_values):
    update_list = []
    for k, v in updatable_value.items():
        update_list.append(f""" "{k}"='{v}' """)

    update = " , ".join(update_list)

    conditions_list = []
    for k, v in conditional_values.items():
        conditions_list.append(f""" "{k}"='{v}' """)
    condition = " and ".join(conditions_list)

    query = f"""UPDATE {
        table_name
    } SET {
        update
    } where {condition} """
    with engine.connect() as conn:
        result = conn.execute(
            query_text(
                query
            )
        )

In [160]:
def upsert_records(engine: Engine, table_name, column_params):
    print(column_params)
    existing_data = read_existing_data(engine, column_params)
    if existing_data:
        updatable_values = {}
        conditional_values = {
            'uid': existing_data['uid']
        }
        for k, v in column_params:
            if v != '' and existing_data[k] == '':
                updatable_value[k] = v
            elif v != '' and existing_data[k] != '':
                conditional_values[k]=v
            update_records_column(
                engine,
                table_name,
                updatable_value,
                conditional_values
            )
    else:
        column_params['uid'] = gen_new_unique_id()
        insert_records_columns(engine,
                               table_name,
                               column_params
                               )

In [163]:
def create_database(file: str, engine: Engine=engine,
                    table_name=uid_master_table):
    def fn_uuid_table(x):
        return upsert_records(
            engine=engine,
            table_name=table_name,
            column_params=x.to_dict(),
        )
    df = pd.read_csv(file)
    param_cols =[]
    for _ in uid_master_table_cols:
        if _ in df.columns:
            param_cols.append(_)
    df_x = df.copy()[param_cols]
    for _ in df_x.columns:
        df_x.loc[df_x.index,_] = df_x[_].fillna("")
    df_x.apply(fn_uuid_table,axis=1)

In [164]:
create_database(test_file_list[0])

{'nid': '', 'mid': '', 'did': 'n4n3j7gjh21g', 'lid': 'r2qfw5qu7olz'}

KeyError: 'nid'

d1 = {
    'nid': 'lufi62kyrsdg',
    'mid': 'xvddexr42mv4',
    'did': '',
    'lid': '',
}
read_existing_data(engine, table_name='test', column_params=d1)

df = pd.read_csv('./data_created.csv')

for _ in df.columns:
    df.loc[df.index, _] = df[_].fillna('')

df.to_sql('test', engine, if_exists='replace', index=False)

from datetime import datetime

df.loc[df.index, 'date'] = [
    datetime.strptime(
        f"""{
        np.random.randint(11,28)
    }-{
        np.random.randint(1,12)
    }-{
        np.random.randint(2017,2020)
    }""",
        "%d-%m-%Y"
    ) for _ in range(df.shape[0])
]

df.groupby(['date']).count()

c = '" and "'.join([str(1), str(2)])

c = '" and "'.join([])

if c:
    print(f'"{c}"')
else:
    print(".")

In [165]:
a=None

In [166]:
if a:
    print(":")
elif not a:
    print(".")

.

In [167]:
username = 'pgadmin'
passwd = 'd60w554p'
sqlalchemy_dialect = f"""postgresql+psycopg2://{username}:{passwd}@localhost:5432/metrics"""
engine = create_engine(sqlalchemy_dialect)

In [169]:
df=pd.read_sql(uid_master_table,con=engine)

In [170]:
df.shape

(3753, 5)

In [171]:
df.columns

Index(['uid', 'nid', 'mid', 'did', 'lid'], dtype='object')

In [189]:
dfx = df.groupby(
    [
        # 'nid', 
        # 'mid', 
        # 'did',
         'lid'
    ]
).uid.count().reset_index()

In [190]:
dfx[dfx['uid']>1]

  lid   uid
0      1863

In [191]:
df2 = pd.read_sql(uid_master_table, con=engine)

In [193]:
df2==df

       uid   nid   mid   did   lid
0     True  True  True  True  True
1     True  True  True  True  True
2     True  True  True  True  True
3     True  True  True  True  True
4     True  True  True  True  True
...    ...   ...   ...   ...   ...
3748  True  True  True  True  True
3749  True  True  True  True  True
3750  True  True  True  True  True
3751  True  True  True  True  True
3752  True  True  True  True  True

[3753 rows x 5 columns]

In [195]:
dfl2=[]
for _ in test_file_list:
    dfl2.append(
        pd.read_csv(_)
    )

In [228]:
new_dfx = pd.concat(dfl2,ignore_index=True)

In [229]:
def generate_csv_shuffled(shuffled_final_df):
    a = 0
    b = shuffled_final_df.shape[0]-1000
    i = 1
    while a < (b-2000):
        if i == 1:
            a = a+1000
        x = np.random.randint(a, b)
        _df = shuffled_final_df.iloc[a:x]
        _df.to_csv(
            f'./test_datasets/data_shuffle_created_{i}.csv',
            index=False,
        )
        i = i+1
        a = x
    _df = shuffled_final_df.iloc[a:b]
    _df.to_csv(
        f'./test_datasets/data_shuffle_created_{i}.csv',
        index=False,
    )

In [230]:
new_dfx = shuffle(new_dfx).reset_index(drop=True)

In [199]:
generate_csv_shuffled(new_dfx)

In [207]:
df.shape == df2.shape

True

In [209]:
mx =[]
for _ in df.index:
    mx.append(
        all(map(
            lambda x: df.loc[_, x] == df2.loc[_, x],
            [
                k for k in df.columns
            ]
        ))
    )

In [210]:
all(mx)

True

In [204]:
df.iloc[1]

uid    24eaf9dd-c78f-4d82-acb5-4424c1c77f7e
nid                            1a8u5uishr2r
mid
did
lid
Name: 1, dtype: object

In [211]:
df3 = pd.read_sql(uid_master_table, con=engine)

In [ ]:
mx = []
for _ in df.index:
    mx.append(
        
    )

In [215]:

all([all(map(
    lambda x: df.loc[_, x] == df3.loc[_, x],
    [
        k for k in df.columns
    ]
)) for _ in df.index ])

True

In [216]:
new_dfx.groupby(
    [
        'nid'
    ]
).count()

              mid  did  lid  date  metric  npi  mdmid  dea  license
nid
01iahbne91d0   86   89   88    92      92    0      0    0        0
01xm069orh52    4    3    6     8       0    0      0    0        0
04cnid94d2ui    7    6    4    11       0    0      0    0        0
04poxa3gg9k1   58   70   63    78      78    0      0    0        0
05d1jhdlfdgx   49   62   54    72      72    0      0    0        0
...           ...  ...  ...   ...     ...  ...    ...  ...      ...
zvo17i5tfao9   15   14   14    15       0    0      0    0        0
zw0ysabna59b   49   51   49    70      70    0      0    0        0
zxtwsbfnpp6j   37   40   36    60      60    0      0    0        0
zxw267cvrn1u    2    3    4     5       0    0      0    0        0
zymf96b31faz   16   19   17    40      40    0      0    0        0

[1999 rows x 9 columns]

In [236]:
df_nid_unique = df.copy()['nid'].drop_duplicates()

In [237]:
new_dfx_nid_unique = new_dfx.copy()['nid'].drop_duplicates()

In [238]:
df_nid_unique =df_nid_unique.sort_values(ignore_index=True)

In [239]:
new_dfx_nid_unique = new_dfx_nid_unique.sort_values(ignore_index=True)

In [241]:
new_dfx_nid_unique.shape == df_nid_unique.shape

False

In [242]:
new_dfx_nid_unique.shape

(2000,)

In [243]:
df_nid_unique.shape

(1892,)

In [267]:
setx = []
i=0
new_dfx.loc[new_dfx.index, 'lid'] = new_dfx['lid'].fillna('')
for _ in new_dfx.index:
    if i <10:
        lid = new_dfx.loc[_, 'lid']
        query = f'''select * from uid_master where "lid" = '{lid}' '''
        with engine.connect() as conn:
            result = conn.execute(
                query_text(
                    query
                )
            )
        data = result.all()
        if len(data) > 2:
            setx.append(data)
        i +=1

In [268]:
len(setx)

3

In [271]:
setx[1][0]

('24eaf9dd-c78f-4d82-acb5-4424c1c77f7e', '1a8u5uishr2r', '', '', '')

In [246]:
with engine.connect() as conn:
    result = conn.execute(
        query_text(
            query
        )
    )

In [248]:
result.all()

[('f7c18201-2c19-4342-a9f8-6b47aaa54352', '01iahbne91d0', '', 'g5prgj5qjyp5', 'f38cby8mc1nb')]