In [54]:
import pandas as pd
import numpy as np
import csv
from sklearn.utils import shuffle
from random import choice
from string import ascii_lowercase, digits
from sqlalchemy import create_engine,text as query_text
from sqlalchemy.engine.base import Engine
import glob
from uuid import uuid4

In [24]:
test_dataset_location = './test_dataset'
test_file_list = list(glob.glob('*/*.csv', recursive=True))

In [28]:
username=input()
passwd=input()
sqlalchemy_dialect = f"""postgresql+psycopg2://{username}:{passwd}@localhost:5432/metrics"""
engine = create_engine(sqlalchemy_dialect)

In [30]:
uid_master_table = 'uid_master'

In [55]:
def gen_new_unique_id():
    return str(uuid4())

In [ ]:
def get_existing_data_when_all_nil(engine: Engine table_name=uid_master_table,):
    where_clause = """ where ( "nid" ='' and "mid"='' and "did" = '' and "lid"='' ) """
    query = f"""SELECT * FROM {table_name} {where_clause} LIMIT 1"""

In [84]:
def read_existing_data(engine: Engine,table_name=uid_master_table,**column_params):
    where_clause = ""
    if 'nid' in column_params and column_params['nid'] != '':
        where_clause = f""" where "nid" = '{column_params['nid']}' """
    elif 'mid' in column_params and column_params['mid'] != '':
        where_clause = f""" where "mid" = '{column_params['mid']}' """
    elif 'did' in column_params and column_params['did'] != '':
        where_clause = f""" where "did" = '{column_params['did']}' """
    elif 'lid' in column_params and column_params['lid'] != '':
        where_clause = f""" where "lid" = '{column_params['lid']}' """
    else:
        where_clause = """ where ( "nid" ='' and "mid"='' and "did" = '' and "lid"='' ) """

    query = f"""SELECT * FROM {table_name} {where_clause} LIMIT 1"""
    # print(query)
    with engine.connect() as conn:
        result = conn.execute(
            query_text(
                query
            )
        )
        result_dict_list = result.mappings().all()
        if len(result_dict_list) ==1:
            return result_dict_list[0]
        else:
            return {}

In [88]:
if read_existing_data(engine, table_name='test', nid='vhrvool0eyij'):
    print(True)

In [66]:
df = pd.read_csv('./data_created.csv')

In [67]:
for _ in df.columns:
    df.loc[df.index,_] = df[_].fillna('')

In [68]:
df.to_sql('test', engine, if_exists='replace', index=False)

In [90]:
from datetime import datetime

In [104]:
df.loc[df.index, 'date'] = [
    datetime.strptime(
        f"""{
        np.random.randint(11,28)
    }-{
        np.random.randint(1,12)
    }-{
        np.random.randint(2017,2020)
    }""",
        "%d-%m-%Y"
    ) for _ in range(df.shape[0])
]

In [105]:
df.groupby(['date']).count()

            nid  mid  did  lid
date
2017-01-11    2    2    2    2
2017-01-12    1    1    1    1
2017-01-14    4    4    4    4
2017-01-15    4    4    4    4
2017-01-17    3    3    3    3
...         ...  ...  ...  ...
2019-11-23    3    3    3    3
2019-11-24    4    4    4    4
2019-11-25    1    1    1    1
2019-11-26    1    1    1    1
2019-11-27    1    1    1    1

[484 rows x 4 columns]